@font-face {
    font-family: 'Bree';
    src: url('../assets/fonts/bree/BreeSerif-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal
}
html {
	font-family: 'Bree';
}
p, span {
	user-select: none;
}