.entry-container {
	display                                                             : table;
	width                                                               : 100%;
	height                                                              : 100%;
	.entry-container-cell {
		display                                                         : table-cell;
		vertical-align                                                  : middle;
		width                                                           : 100%;
		height                                                          : auto;
		padding                                                         : 60px 0;
		.logo-image-container {
			width                                                       : 100%;
			height                                                      : auto;
			max-width                                                   : 520px;
			margin                                                      : 0 auto;
			padding                                                     : 0 20px;
			.logo-image {
				width                                                   : 100%;
				height                                                  : auto;
			}
		}
		.start-button-container {
			.start-button {
				width                                                   : 120px;
				height                                                  : 50px;
				margin                                                  : 0 auto;
				text-align                                              : center;
				border                                                  : 2px solid $white-color;
				border-radius                                           : 25px;
				background-color                                        : $red-color;
				box-shadow                                              : 2px 2px 0px 2px rgba(0, 0, 0, 0.25);
				span {
					font-size                                           : 24px;
					line-height                                         : 46px;
					color                                               : $white-color;
				}
			}
		}
		.footer-logo-image {
			position                                                    : absolute;
			bottom                                                      : 30px;
			right                                                       : 30px;
			width                                                       : 80px;
		}
	}
}