.game-container {
	position                                                            : relative;
	display                                                             : table;
	width                                                               : 100%;
	height                                                              : 100%;
	.game-container-cell {
		display                                                         : table-cell;
		vertical-align                                                  : top;
		width                                                           : 100%;
		height                                                          : auto;
		padding                                                         : 60px 0;
		.game-top-wrapper {
			width                                                       : 100%;
			height                                                      : 240px;
			max-width                                                   : 1024px;
			margin                                                      : 0 auto 60px auto;
			@media only screen and (max-width: 602px) {
				height                                                  : 300px;
			}
			.game-top-container {
				position                                                : relative;
				width                                                   : 100%;
				height                                                  : 100%;
				.rat-image-container {
					position                                            : absolute;
					bottom                                              : 30px;
					left                                                : 40px;
					width                                               : 220px;
    				height                                              : auto;
    				.rat-image {
    					display                                         : block;
    					width                                           : 220px;
    					height                                          : auto;
    				}
    				@media only screen and (max-width: 1024px) {
						width                                           : 180px;
						.rat-image {
							width                                       : 180px;
						}
					}
    				@media only screen and (max-width: 602px) {
						z-index                                         : 9;
					}
				}
				.image-button-container {
					position                                            : absolute;
					bottom                                              : 0;
					left                                                : 0;
					width                                               : 360px;
					height                                              : 48px;
					@media only screen and (max-width: 602px) {
						width                                           : 100%;
					}
					.image-button {
						position                                        : absolute;
						top                                             : 0;
						right                                           : 40px;
						width                                           : 48px;
						height                                          : 48px;
						border                                          : 2px solid $white-color;
						border-radius                                   : 24px;
						background-color                                : #EC4942;
						box-shadow                                      : 2px 2px 0px 2px rgba(0, 0, 0, 0.25);
						z-index                                         : 99;
						@media only screen and (max-width: 602px) {
							right                                       : auto;
							left                                        : 200px;
						}
						@media only screen and (max-width: 392px) {
							right                                       : auto;
							left                                        : 20px;
						}
					}
					.bottom-line {
						position                                        : absolute;
						top                                             : 18px;
						width                                           : 100%;
						height                                          : 12px;
						background-color                                : #EC4942;
						z-index                                         : 9;
					}
				}
				.text-balloon-container {
					position                                            : absolute;
					top                                                 : 0;
					right                                               : 40px;
					display                                             : table;
					width                                               : calc(100% - 340px);
					height                                              : 200px;
					background-image                                    : url('../assets/images/image_textballoon.png');
					background-size                                     : 100% 200px;
					background-position                                 : center;
					background-repeat                                   : no-repeat;
					@media only screen and (max-width: 1024px) {
    					width                                           : calc(100% - 240px);
					}
					@media only screen and (max-width: 814px) {
						background-image                                : url('../assets/images/image_textballoon_2.png');
					}
					@media only screen and (max-width: 684px) {
						background-image                                : url('../assets/images/image_textballoon_3.png');
					}
					@media only screen and (max-width: 602px) {
						width                                           : calc(100% - 40px);
						top                                             : -40px;
					    left                                            : 20px;
					    right                                           : 20px;
						background-image                                : url('../assets/images/image_textballoon_4.png');
					}
					.text-balloon {
						position                                        : relative;
						display                                         : table-cell;
						vertical-align                                  : middle;
						padding                                         : 20px 30px 20px 50px;
						@media only screen and (max-width: 1024px) {
	    					padding                                     : 20px 50px 20px 60px;
						}
						@media only screen and (max-width: 602px) {
							padding                                     : 20px 50px 40px 60px;
						}
						.text {
							font-size                                   : 18px;
							line-height                                 : 1.3em;
							text-align                                  : left;
							color                                       : $white-color;
						}
						.currentquestion {
							position                                    : absolute;
							bottom                                      : -4px;
							right                                       : 60px;
							display                                     : table;
							width                                       : 80px;
							height                                      : 42px;
							background-image                            : url('../assets/images/image_currentquestion.png');
							background-size                             : contain;
							background-position                         : center;
							background-repeat                           : no-repeat;
							@media only screen and (max-width: 602px) {
								bottom                                  : -138px;
								right                                   : 0;
								z-index                                 : 9;
							}
							.text {
								display                                 : table-cell;
								vertical-align                          : middle;
								font-size                               : 18px;
								text-align                              : center;
								color                                   : $white-color;
							}
						}
					}
				}
			}
			.right-cell {
				display                                                 : table-cell;
				width                                                   : 100%;
				height                                                  : auto;
			}
		}
		.game-bottom-wrapper {
			width                                                       : 100%;
			height                                                      : auto;
			max-width                                                   : 1024px;
			margin                                                      : 0 auto;
			.answers-container {
				display                                                 : table;
				width                                                   : 100%;
				height                                                  : auto;
				padding                                                 : 0 40px;
			}
		}
		.back-button-container {
			width                                                       : 100%;
			max-width                                                   : 1024px;
			height                                                      : 48px;
			padding                                                     : 0 40px;
			margin                                                      : 0 auto;
			.back-button {
				width                                                   : 48px;
				height                                                  : 48px;
				border                                                  : 2px solid $white-color;
				border-radius                                           : 24px;
				background-color                                        : #EC4942;
				box-shadow                                              : 2px 2px 0px 2px rgba(0, 0, 0, 0.25);
				z-index                                                 : 99;
			}
		}
	}
	.image-modal-container {
		position                                                        : fixed;
		top                                                             : 0;
		left                                                            : 0;
		width                                                           : 100%;
		height                                                          : 100%;
		padding                                                         : 40px;
		background-color                                                : rgba(0, 0, 0, 0.5);
		z-index                                                         : 9999;
		@media only screen and (max-width: 602px) {
			padding                                                     : 0;
		}
		.image-modal-content {
			position                                                    : relative;
			width                                                       : 100%;
			height                                                      : 100%;
			max-width                                                   : 1024px;
			margin                                                      : 0 auto;
			border                                                      : 10px solid $white-color;
			border-radius                                               : 32px;
			overflow                                                    : hidden;
			background-color                                            : $white-color;
			@media only screen and (max-width: 602px) {
				border-radius                                           : 0;
				border                                                  : 10px solid $background-color;
				background-color                                        : $background-color;
			}
			.image-modal {
				width                                                   : 100%;
				height                                                  : 100%;
				border-radius                                           : 24px;
				background-color                                        : $white-color;
				.image {
					width                                               : 100%;
					height                                              : 100%;
					background-repeat                                   : no-repeat;
					background-position                                 : center;
					background-size                                     : cover;
				}
			}
			.modal-button-container {
				position                                                : absolute;
				top                                                     : 10px;
				right                                                   : 10px;
				width                                                   : 48px;
				height                                                  : 48px;
				.modal-button {
					width                                               : 48px;
					height                                              : 48px;
					border                                              : 2px solid $white-color;
					border-radius                                       : 24px;
					background-color                                    : #EC4942;
					box-shadow                                          : 2px 2px 0px 2px rgba(0, 0, 0, 0.25);
					z-index                                             : 99;
				}
			}
		}
	}
	.restart-modal-container {
		position                                                        : fixed;
		top                                                             : 0;
		left                                                            : 0;
		width                                                           : 100%;
		height                                                          : 100%;
		background-color                                                : rgba(0, 0, 0, 0.5);
		z-index                                                         : 9999;
		.restart-modal-content {
			display                                                     : table-cell;
			vertical-align                                              : middle; 
			width                                                       : auto;
			height                                                      : auto;
			.modal-wrapper {
				width                                                   : 280px;
				height                                                  : 160px;
				padding                                                 : 20px;
				margin                                                  : 0 auto;
				background-color                                        : $white-color;
				border-radius                                           : 30px;
				box-shadow                                              : 2px 2px 0px 2px rgba(0, 0, 0, 0.25);
				.top-block, .bottom-block {
					display                                             : table;
					width                                               : 100%;
					height                                              : 60px;
					.text {
						font-size                                       : 18px;
						line-height                                     : 60px;
						text-align                                      : center;
						color                                           : $black-color;
					}
					.modal-button-wrapper {
						display                                         : table-cell;
						vertical-align                                  : middle;
						width                                           : 80px;
						height                                          : 42px;
						padding                                         : 0 30px 0 10px;
						&:not(:last-child) {
							padding                                     : 0 10px 0 30px;
						}
						.modal-button {
							font-family                                 : 'Bree';
							width                                       : 80px;
							height                                      : 42px;
							font-size                                   : 16px;
							border                                      : 2px solid $white-color;
							border-radius                               : 21px;
							color                                       : $white-color;
							background-color                            : $red-color;
							box-shadow                                  : 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
						}
					}
				}
			}
		}
	}
	.bottom-line-offside {
		position                                                        : absolute;
		top                                                             : 270px;
		left                                                            : 0;
		display                                                         : block;
		width                                                           : 30%;
		height                                                          : 12px;
		background-color                                                : #EC4942;
		z-index                                                         : 9;
		@media only screen and (max-width: 602px) {
			display                                                     : none;
		}
	}
}