.result-container {
	display                                                             : table;
	width                                                               : 100%;
	height                                                              : 100%;
	.result-container-cell {
		display                                                         : table-cell;
		vertical-align                                                  : middle;
		width                                                           : 100%;
		height                                                          : auto;
		padding                                                         : 60px 0;
		.result-image-container {
			width                                                       : 100%;
			height                                                      : auto;
			max-width                                                   : 520px;
			margin                                                      : 0 auto;
			padding                                                     : 0 20px;
			.result-image {
				width                                                   : 100%;
				height                                                  : auto;
			}
		}
		.result-button-container {
			display                                                     : table;
			width                                                       : 100%;
			height                                                      : auto;
			max-width                                                   : 520px;
			margin                                                      : 0 auto;
			padding                                                     : 0 20px;
			text-align                                                  : center;
			.text {
				display                                                 : block;
				margin                                                  : 0 auto 40px auto;
				font-size                                               : 20px;
				color                                                   : $white-color;
			}
			.result-button {
				display                                                 : inline-block;
				vertical-align                                          : top;
				width                                                   : 100px;
				height                                                  : 40px;
				margin                                                  : 0 auto;
				text-align                                              : center;
				border                                                  : 2px solid $white-color;
				border-radius                                           : 25px;
				background-color                                        : $red-color;
				box-shadow                                              : 2px 2px 0px 2px rgba(0, 0, 0, 0.25);
				span {
					font-family                                         : 'Bree';
					font-size                                           : 20px;
					line-height                                         : 34px;
					color                                               : $white-color;
				}
				&:not(:last-child) {
					margin                                              : 0 40px 0 0;
				}
			}
		}
	}
}