.answer-wrapper {
	position                                                        : relative;
	display                                                         : table;
	width                                                           : calc(50% - 20px);
	height                                                          : auto;
	min-height                                                      : 160px;
	margin                                                          : 0 40px 40px 0;
	border                                                          : 6px solid $yellow-color;
	border-radius                                                   : 20px;
	box-shadow                                                      : 2px 2px 0px 2px rgba(0, 0, 0, 0.25);
	float                                                           : left;
	cursor                                                          : pointer;
	@media only screen and (max-width: 614px) {
		width                                                       : 100%;
		margin                                                      : 0 0 40px 0;
	}
	.text-container {
		display                                                     : table-cell;
		vertical-align                                              : middle;
		width                                                       : 100%;
		height                                                      : auto;
		padding                                                     : 24px 12px;
		border-radius                                               : 13px;
		background-color                                            : $white-color;
		.text {
			width                                                   : 100%;
			height                                                  : auto;
			font-size                                               : 18px;
			line-height                                             : 1.3em;
			color                                                   : $background-color;
		}
	}
	.number-container {
		position                                                    : absolute;
		top                                                         : -6px;
		left                                                        : 20px;
		.number-image-container {
			width                                                   : 44px;
			height                                                  : auto;
			.number-image {
				.b {
					fill                                            : $yellow-color;
				}
			}
		}
		.number {
			position                                                : absolute;
			top                                                     : 0;
			right                                                   : 4px;
			bottom                                                  : 6px;
			left                                                    : 0;
			font-weight                                             : bold;
			line-height                                             : 26px;
			text-align                                              : center;
			color                                                   : $black-color;
		}
	}
	&:nth-child(2n) {
		margin                                                      : 0 0 40px 0;
	}
	&.correct {
		border                                                      : 6px solid $green-color;
	}
	&.incorrect {
		border                                                      : 6px solid $red-color;
	}
}